
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--rosa-cards);
    width: 28%;
    height: auto;
    border: none;
    border-radius: 24px;
    padding: .8rem;
    box-shadow: var(--box-cards);
}

.card h3{
    font-family: var(--font-primary);
    font-size: var(--font-size-xl);
    color: var(--letra-clara);
    align-self: flex-start;
    margin-top: .5rem;
}

.card span{
    background-color: var(--rosa-btn);
    padding: .2rem .6rem;
    border-radius: 16px;
    align-self: flex-start;
}

.tipo-doce{
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    color: var(--letra-clara);
    font-weight: 400;
    margin: 0;
}

.descrição-doce{
    margin: 0;
    font-family: var(--font-secondary);
    font-size: var(--font-size-md);
    color: var(--letra-clara);
    font-weight: 400;
}

.ValorDoProduto{
    font-size: var(--font-size-lg);
    margin: 0;
}

.container-card-img{
    width: 100%;
}

.imgProduto{
    width: 100%;
    height: 200px;
    border: solid var(--letra-clara) 6px;
    border-radius: 24px;
}


.container-valorEhBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}