.fundo-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCardapio{
    margin-bottom:  12rem;
}

.sidebar ul {
    padding-left: 15rem;
}

.sidebar a{
    color: var(--letra-escura);
}

.sidebar hr{
    border: 1px solid #000;
    width: 300px;
}

.card{
    background-color: var(--letra-escura);
}