.fundo-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCardapio{
    margin-bottom:  12rem;
}

.container-listaEhCard{
    margin: 0rem 10rem;
}

.sidebar{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 39%;
}

.sidebar a{
    color: var(--letra-escura);
}

.sidebar hr{
    border: 1px solid #000;
    width: 250px;
}

.ListaProdutos{
    padding: 0;
}

.containerCardapio{
    width: 100%;
}

.card{
    background-color: var(--letra-escura);
}