.verCardapio, .btn-banner, .botao-finalizarPedido, .btnExcluirEhEditarConta, .btnAdicionarEndereco{
    width: 100%;
    border-radius: 16px;
    box-shadow: var(--box-light);
    transition: background-color 0.3s ease, 
                transform 0.2s ease;
}

.btnAdicionarEndereco{
    max-width: 100%;
    height: 50px;
    background-color: var(--rosa-btn);
    
}

#botaoExcluirConta, #botaoAtualizarConta{
    max-width: 30%;
    height: 50px;
}

.botao-finalizarPedido{
    margin-top: 10rem;
}

.verCardapio, .botao-finalizarPedido{
    background-color: var(--rosa-btn);
    max-width: 65%;
    font-size: var(--font-size-xl);
    font-family: var(--font-secondary);
    height: 50px;
}

.btn-banner{
    background-color: var(--rosa-cards);
    height: 65px;
    font-size: var(--font-size-2xl);
    font-family: var(--font-secondary);
}

.btn-fazerOrcamento{
    background-color: var(--roxo-banner);
    font-size: var(--font-size-lg);
    border-radius: 8px;
    padding: .8rem 5rem;
    z-index: 1;
    box-shadow: var(--box-light);
    transition: background-color 0.3s ease, 
                transform 0.2s ease;
}

.btnExcluirEhEditarConta{
    max-width: 65%;
    background-color: var(--rosa-btn);
}

.verCardapio:hover, .btn-adicionar:hover, .btn-banner:hover, .botao-finalizarPedido:hover {
    background-color: var(--rosa-btn-hover); 
    transform: scale(1.03);
}

.botao-submit{
    background-color: var(--roxo-banner);
    color: var(--letra-clara);
    padding: .5rem 2rem;
    border-radius: 12px;
    font-weight: 500;
    box-shadow: var(--box-light);
    transition: background-color 0.3s ease, 
                transform 0.2s ease;
}

.btn-fazerOrcamento:hover, .botao-submit:hover{
    background-color: var(--roxo-hover); 
    transform: scale(1.03);
}

.btnSubmit-entrar{
    background-color: var(--roxo-banner);
    font-size: var(--font-size-3xl);
    font-family: var(--font-secondary);
    border-radius: 64px;
    padding: .5rem 3rem;
    font-weight: 500;
}

@media (max-width: 400px) {
    .btn-banner{
        font-size: var(--font-size-xl);
    }

    .btn-fazerOrcamento{
        padding: .8rem 3rem;
    }
}