.btn-banner{
    background-color: var(--rosa-cards);
    font-size: var(--font-size-2xl);
    font-family: var(--font-secondary);
    padding: 1rem 3rem;
    border-radius: 16px;
}

.btn-banner:hover{
    background-color: var(--rosa-btn);
}

.btn-fazerOrcamento{
    background-color: var(--roxo-banner);
    font-size: var(--font-size-lg);
    border-radius: 8px;
    padding: .8rem 5rem;
    z-index: 1;
}

.verCardapio{
    background-color: var(--rosa-btn);
    font-size: var(--font-size-md);
    font-family: var(--font-secondary);
    font-weight: 500;
    border-radius: 16px;
    padding: .5rem 0;
    width: 150px;
}

.botao-submit{
    background-color: var(--roxo-banner);
    color: var(--letra-clara);
    padding: .5rem 2rem;
    border-radius: 12px;
    font-weight: 500;
}

@media (max-width: 400px) {
    .btn-banner{
        font-size: var(--font-size-xl);
    }

    .btn-fazerOrcamento{
        padding: .8rem 3rem;
    }
}