.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--roxo-banner);
    margin-top: 5rem;
}

.secao-informacao-contato{
    display: flex;
    justify-content: space-around;
    gap: 8rem;
    margin-top: 3rem;
}

.icone-contato{
    width: 60px;
    height: 60px;
}

.footer h5, h6, p, li{
    font-family: var(--font-secondary);
    font-size: var(--font-size-2xl);
    color: var(--letra-clara);
    font-weight: 700;
}

.footer h6, p, li{
    font-size: var(--font-size-lg);
}

footer ul{
    padding: 0;
}

.container-contato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cotainer-entrarEmContato{
    display: flex;
    gap: .8rem;
}

.ul-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

/* Tablets e notebooks menores */
@media (max-width: 1399px) {
  
}

/* Tablets em modo retrato */
@media (max-width: 1024px) {
  
}

/* Tablets pequenos */
@media (max-width: 767px) {
  
}

/* Celulares grandes */
@media (max-width: 480px) {
    .footer{
        padding: 1rem;
    }

    .secao-informacao-contato{
        gap: 3rem;
        flex-direction: column;
    }
}

/* Celulares pequenos */
@media (max-width: 410px) {
    .footer h6, p, li{
        font-size: var(--font-size-md);
    }
}
