.main-navegacaoCliente{
    display: flex;
}

.container-infomacaoCliente{
    width: 100%;
    max-width: 80%;
}

.container-infomacaoCliente{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 12rem;
}

.container-tituloInformacaoCliente{
    width: 100%;
    margin-bottom: 1.5rem;
}

.ul-infomacaoCliente{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.li-informaCliente, .link-meusDados, .link-meusPedidos, .link-endereco{
    font-size: var(--font-size-2xl);
    width: 100%;
    max-width: 30%;
}

.link-infomacaoCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--rosa-cards);
    border-radius: 16px;
    box-shadow: var(--box-cards);
    height: 100%;
    transition: transform .3s ease;
}

.link-meusDados{
    max-width: 65%;
}

.link-endereco{
    max-width: 100%;
}

.link-infomacaoCliente:hover{
    transform: scale(1.03);
}

.container-nomeUsuario, .container-emailUsuario{
    display: flex;
    padding: .5rem;
}

.container-adicionarEndereco{
    display: flex;
    justify-content: space-between;
}

.container-informacaoDeAcesso, .container-informacaoDePedido, .container-informacaoDeEndereco{
    background-color: var(--rosa-muitoclaro);
    width: 80%;
    border-radius: 16px;
}

.container-informacaoDePedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-informacaoDePedido p{
    font-size: var(--font-size-3xl);
}

.container-informacaoDeEndereco{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-adicionarEndereco h4{
    padding: .5rem;
}

.titulo-informacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--rosa-btn);
    border-radius: 16px 16px 0px 0;
}

.h4-titulosMinhaConta{
    font-size: var(--font-size-lg);
    color: var(--letra-clara);
    padding-left: .5rem;
    margin: 0;
}

