.input-formulario, .input-login, .input-informacaoPequeno, .input-informacaoGrande, .input-checkout, .input-minhaConta{
    border: solid 2px var(--roxo-card);
    width: 100%;
    border-radius: 16px;
    box-shadow: var(--box-light);
    transition: 
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.2s ease;
}

.input-minhaConta{
    height: 50px;
}

#inputCpf-meusDados, #inputDate-meusDados{
    max-width: 45%;
}

#inputPhone-meusDados{
    max-width: 30%;
}

.input-large{
    max-width: 100%;
}

.input-mediun{
    max-width: 65%;
}

.input-metade{
    max-width: 48%;
}

.input-mini{
    max-width: 30%;
}

.input-formulario{
    height: 50px;
}

.inputMensagem{
    height: 150px;
}

.input-checkout{
    height: 50px;
}

.input-formulario:focus{
    transform: scale(1.05);
    outline: none;
    border: solid 2px var(--rosa-btn)
}

.input-login{
    height: 65px;
    max-width: 480px;
}

.input-informacaoPequeno, .input-informacaoGrande{
    height: 40px;
    max-width: 45%;
}

.input-informacaoPequeno:focus, .input-informacaoGrande:focus, .input-login:focus, .input-formulario:focus, .input-checkout:focus{
    outline: none;
    border-color: var(--roxo-banner);
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.3); /* brilho roxo suave */
    transform: scale(1.03);
}

.input-informacaoGrande{
    max-width: 96%;
}