.container-produtoLanding{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    box-shadow: var(--box-cards);
    background-color: var(--rosa-cards);
    height: 325px;
    width: 100%;
    max-width: 700px;
}

.container-produtoLanding div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-produtoLanding span{
    background-color: var(--rosa-btn);
    max-width: 150px;
    padding: .2rem 1rem;
    border-radius: 16px;
    color: var(--letra-clara);
    font-family: var(--font-primary);
    font-size: var(--font-size-xl);
    text-align: center;
}

.container-produtoLanding h3{
    font-family: var(--font-primary);
    font-size: var(--font-size-2xl);
    color: var(--letra-clara);
    margin-top: .3rem;
}

.container-produtoLanding p{
    font-family: var(--font-secondary);
    font-size: var(--font-size-md);
    color: var(--letra-clara);
}

.img-produtoLanding{
    border-radius: 50%;
    border: 6px solid #fff;
    width: 225px;
    height: 225px;
    margin: 2.5rem;
    box-shadow: var(--box-cards);
}

/* Tablets e notebooks menores */
@media (max-width: 1399px) {
  
}

/* Tablets em modo retrato */
@media (max-width: 1024px) {
  
}

/* Celulares grandes */
@media (max-width: 767px) {
  
}

/* Celulares pequenos */
@media (max-width: 480px) {
    .container-produtoLanding{
        max-width: 350px;
        padding: .5rem;
    }

    .img-produtoLanding{
        width: 140px;
        height: 140px;
        margin: 0;
        margin-right: 1rem;
    }

    .container-produtoLanding div{
        gap: .4rem;
    }

    .container-produtoLanding span{
        max-width: 135px;
        padding: .2rem 1rem;
        text-align: center;
    }

    .container-produtoLanding h3{
    font-family: var(--font-primary);
        font-size: var(--font-size-2xl);
    
        margin-top: 0;
    }

    .container-produtoLanding p{
        font-weight: 400;
        line-height: 1.2;
    }
}

/* Celulares mini */
@media (max-width: 400px) {
    .container-produtoLanding{
        flex-direction: column;
        height: 370px;
        padding: .8rem;
    }

    .container-produtoLanding span{
        font-size: var(--font-size-lg);
        margin-top: .5rem;
    }

    .container-produtoLanding p{
        margin: 0;
    }

    .img-produtoLanding{
        margin-right: 0;
    }
}
